<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="fIlgt5ef3deHCQt8wknmBvwrRZw21gnbBfr5g0PFvWU"
    />
    <title>About | Playlist Crafter</title>
    <link rel="stylesheet" href="/static/css/about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li><a href="#about">About</a></li>
          <li><a href="#project">Project</a></li>
          <li><a href="#resources">Resources</a></li>
          <li><a href="#report-issues">Report Issues</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="about" class="panel">
        <div class="aboutme">
          <h1>About Me</h1>
          <div class="image-and-text">
            <div class="image-bubble">
              <img src="/static/images/srijan.jpg" alt="Srijan K" />
            </div>
            <div class="text-content">
              <p>
                Hello! I'm Srijan K, a student at St Aloysius (Deemed To Be
                University). I'm learning and trying to do something
                interesting, constantly exploring new technologies and pushing
                myself.
              </p>
              <a
                href="https://github.com/srijankulal"
                target="_blank"
                class="github-icon"
              >
                <i class="fab fa-github"></i>
              </a>
              <a
                href="mailto:srijankulal1010@gmail.com"
                target="_blank"
                class="email-icon"
              >
                <i class="fas fa-envelope"></i>
              </a>
              <a
                href="https://www.linkedin.com/in/srijan-kulal"
                target="_blank"
                class="linkedin-icon"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="project" class="panel">
        <div class="abtProject">
          <h2>About Playlist Crafter</h2>
          <div class="text-content">
            <p>
              Playlist Crafter was born out of my love for discovering new
              music. I wanted a way to find songs similar to those I love,
              sparking the idea for this project. Later, I thought, why not
              blend two playlists to create something entirely new? That’s the
              heart of Playlist Crafter—simple yet powerful ways to explore
              music in a fresh way. It’s been a journey of excitement and
              challenges, but my passion for music and coding kept me motivated
              to bring it to life.
            </p>

            <div class="features-container">
              <h3>Key Features</h3>
              <ul class="feature-list">
                <li>
                  <i class="icon">🎶</i> Blend playlists from different genres
                  and moods.
                </li>
                <li>
                  <i class="icon">🔍</i> Explore new music recommendations based
                  on your song preferences.
                </li>
                <li>
                  <i class="icon">🔗</i> Seamlessly integrate with your Spotify
                  account.
                </li>
                <li>
                  <i class="icon">⚙️</i> Easy-to-use interface for creating
                  custom playlists.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section id="resources" class="panel">
        <div class="resources">
          <h2>Resources Used</h2>
          <ul>
            <li>
              <a
                href="https://codepen.io/ksenia-k/embed/jXbWaJ?default-tab=result&theme-id=dark&zoom=1#html-box"
                class="resource-link"
                >Background css Animation by</a
              >
              <a href="https://codepen.io/ksenia-k" class="author">
                Ksenia Kondrashova
              </a>
            </li>
            <li>
              <a href="https://cssloaders.github.io/" class="resource-link"
                >Loading Animation by
                <a href="https://github.com/vineethtrv" class="author"
                  >Vineeth.TR</a
                ></a
              >
            </li>
            <li>
              <a
                href="https://pixabay.com/vectors/avatar-icon-placeholder-profile-3814081/"
                class="resource-link"
                >Profile Picture Placeholder by
                <a
                  href="https://pixabay.com/users/raphaelsilva-4702998/"
                  class="author"
                  >raphaelsilva</a
                ></a
              >
            </li>
            <li>
              <a
                href="https://developer.spotify.com/documentation/web-api"
                class="resource-link"
                >Spotify Documentation</a
              >
            </li>
            <li>
              Used
              <a
                href="https://github.com/features/copilot"
                class="resource-link"
                >GitHub Copilot</a
              >
              ,<a href="https://openai.com/blog/chatgpt" class="resource-link"
                >ChatGPT</a
              >
              ,<a href="https://v0.dev/" class="resource-link">v0 by Vercel</a>
              for frontend and debugging code and

              <a href="https://vercel.com/" class="resource-link">Vercel</a> for
              deployment.
            </li>
          </ul>
        </div>
      </section>
      <section id="report-issues" class="panel">
        <div class="issue-report">
          <h2>Report Issues</h2>
          <p>
            If you find any issues or bugs, please inform me so I can fix them!
          </p>
          <p>
            <a href="mailto:srijankulal1010@gmail.com" class="report-link"
              >Click here to send an email.</a
            >
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Srijan K. All rights reserved.</p>
    </footer>
  </body>
</html>
