<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="fIlgt5ef3deHCQt8wknmBvwrRZw21gnbBfr5g0PFvWU" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist Crafter</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/home.css">

    
    </style>
  </head>
  <body>
    <svg
      class="svg-background"
      preserveAspectRatio="xMidYMid slice"
      viewBox="10 10 80 80"
    >
      <defs>
        <style>
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          .out-top {
            animation: rotate 20s linear infinite;
            transform-origin: 13px 25px;
          }
          .in-top {
            animation: rotate 10s linear infinite;
            transform-origin: 13px 25px;
          }
          .out-bottom {
            animation: rotate 25s linear infinite;
            transform-origin: 84px 93px;
          }
          .in-bottom {
            animation: rotate 15s linear infinite;
            transform-origin: 84px 93px;
          }
        </style>
      </defs>
      <path
        fill="#9b5de5"
        class="out-top"
        d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"
      />
      <path
        fill="#f15bb5"
        class="in-top"
        d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"
      />
      <path
        fill="#00bbf9"
        class="out-bottom"
        d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"
      />
      <path
        fill="#00f5d4"
        class="in-bottom"
        d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"
      />
    </svg>
    <header>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>

    <section class="section section1">
      <div>
        <div class="modern-heading-container">
          <h1 class="modern-heading">
            <span>P</span><span>l</span><span>a</span><span>y</span><span>l</span><span>i</span><span>s</span><span>t</span>
            <span>C</span><span>r</span><span>a</span><span>f</span><span>t</span><span>e</span><span>r</span>
          </h1>
        </div>
        <p class="description fade-up">
          Discover music like never before with our advanced playlist creation
          tools.
        </p>
        
      </div>
    </section>
    <section class="section section2">
      <div>
        <h2 class="h2" id="section2-heading">Similar Song Playlist Maker</h2>
        <p class="fade-up">
          Create a playlist with songs similar to your favorite tracks. Simply
          enter a song, and we'll find others that match its vibe.
        </p>
        <a href="/songSync" class="button">Try it now!</a>
      </div>
    </section>
    <section class="section section3">
      <div>
        <h2 class="h2">Playlist Blend</h2>
        <p class="fade-up">
          Pick a mood and let us curate a playlist for you. Stay tuned for more
          exciting features!
        </p>
        <a href="/playlistBlend" class="button">Try it now!</a>
      </div>
    </section>
    

    <script >
      document.addEventListener("DOMContentLoaded", () => {
        const sections = document.querySelectorAll(".section");
        const heading = document.getElementById("heading");
        const scrollIndicator = document.getElementById("scroll-indicator");
        const progressBar = document.getElementById("progress-bar");
        let currentSectionIndex = 0;
      
        function handleScroll(entries) {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.querySelector("h2").style.opacity = 1;
              entry.target.querySelector("h2").style.transform = "translateY(0)";
      
              entry.target
                .querySelectorAll(".fade-up")
                .forEach((el) => el.classList.add("visible"));
      
              entry.target.classList.add("section-animation");
              entry.target.classList.remove("hidden");
            } else {
              entry.target.classList.add("hidden");
              entry.target.classList.remove("section-animation");
            }
          });
        }
      
        let noteCounter = 0;
  const maxNotes = 10; // Maximum number of notes allowed
  let canSpawnNote = true; // Flag to control spawn rate
  const spawnCooldown = 200; // Cooldown period in milliseconds

  // Create an Intersection Observer
  const observer = new IntersectionObserver(handleScroll, {
    threshold: 0.5,
  });

  // Observe each section
  sections.forEach((section) => {
    observer.observe(section);
  }); 
        // Add scroll event listener
        window.addEventListener("scroll", () => {
          sections.forEach((section, index) => {
            const rect = section.getBoundingClientRect();
            if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
              if (currentSectionIndex !== index) {
                currentSectionIndex = index;
              }
            }
          });

        });
      });
      
    </script>
  </body>
</html>
