<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Playlist Creator</title>
    <link rel="stylesheet" href="./static/css/song.css" />
  </head>
  <body>
    <svg
      class="svg-background"
      preserveAspectRatio="xMidYMid slice"
      viewBox="10 10 80 80"
    >
      <defs>
        <style>
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          .out-top {
            animation: rotate 20s linear infinite;
            transform-origin: 13px 25px;
          }
          .in-top {
            animation: rotate 10s linear infinite;
            transform-origin: 13px 25px;
          }
          .out-bottom {
            animation: rotate 25s linear infinite;
            transform-origin: 84px 93px;
          }
          .in-bottom {
            animation: rotate 15s linear infinite;
            transform-origin: 84px 93px;
          }
        </style>
      </defs>
      <path
        fill="#9b5de5"
        class="out-top"
        d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"
      />
      <path
        fill="#f15bb5"
        class="in-top"
        d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"
      />
      <path
        fill="#00bbf9"
        class="out-bottom"
        d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"
      />
      <path
        fill="#00f5d4"
        class="in-bottom"
        d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"
      />
    </svg>
    <section class="login">
      <nav>
        <div class="profile-info">
          {% if session['token_info'] %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              fetch(`/profile_pic`)
                .then((response) => response.json())
                .then((data) => {
                  const profilePicElement = document.getElementById(
                    "profile_picture_url"
                  );
                  profilePicElement.src = data.profile_picture_url;
                });
            });
          </script>
          <img
            id="profile_picture_url"
            src=""
            alt="Profile Picture"
            class="profile-pic"
          />
          <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="spotify-button">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/1/19/Spotify_logo_without_text.svg"
              alt="Spotify Logo"
              class="spotify-logo"
            />
            Connect to Spotify
          </a>
          {% endif %}
        </div>
      </nav>
    </section>

    <div class="back-button-container">
      <a href="/" class="back-button">Home</a>
    </div>

    <section class="section section1">
      <div class="h1_div">
        <h1 id="heading">
          <span id="s">S</span>
          <span id="o">o</span>
          <span id="n">n</span>
          <span id="g">g</span>

          <span id="S">S</span>
          <span id="y">y</span>
          <span id="N">n</span>
          <span id="c">c</span>
        </h1>
      </div>
    </section>
    <form
      id="song_form"
      onsubmit="event.preventDefault(); callcreate_playlist();"
    >
      <input
        type="text"
        id="song_search"
        name="song_name"
        placeholder="Type a song name..."
        aria-label="Song Search"
        autocomplete="off"
      />
      <!-- Added to prevent browser's default autocomplete -->
      <ul id="suggestions" style="list-style-type: none; padding: 0"></ul>
      <input type="submit" value="Create Playlist" />
      <!-- <input type="submit" value="Logout"/> -->
    </form>

    <div id="playlistCreatedModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Playlist Created Successfully!</h2>
        <p>What would you like to do next?</p>
        <button id="goToSpotifyBtn" class="modal-button">Go to Spotify</button>
        <button id="continueBtn" class="modal-button">Continue</button>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flashes">
      <button class="close-button">&times;</button>
      <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      <button id="tryAgainBtn">Try Again</button>
    </div>
    {% endif %} {% endwith %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("song_search")
          .addEventListener("input", function () {
            const inputValue = this.value;
            if (inputValue.length > 0) {
              // Fetch suggestions for queries longer than 2 characters
              fetch(`/autocomplete?song_name=${encodeURIComponent(inputValue)}`)
                .then((response) => response.json())
                .then((suggestions) => {
                  const suggestionsList =
                    document.getElementById("suggestions");
                  suggestionsList.innerHTML = ""; // Clear existing suggestions
                  suggestions.forEach((suggestion) => {
                    const li = document.createElement("li");
                    li.style.cursor = "pointer";
                    li.innerHTML = `
                            <div style="display: flex; align-items: center;">
                                <img src="${suggestion.cover_image}" alt="Cover Image" style="width: 50px; height: 50px; margin-right: 10px;">
                                <div>
                                    <div><strong>${suggestion.name}</strong></div>
                                    <div>${suggestion.artist}</div>
                                </div>
                            </div>
                        `;
                    li.addEventListener("click", () => {
                      document.getElementById("song_search").value =
                        suggestion.name;
                      suggestionsList.innerHTML = ""; // Clear suggestions after selection
                    });
                    suggestionsList.appendChild(li);
                  });
                });
            } else {
              document.getElementById("suggestions").innerHTML = ""; // Clear suggestions if input is cleared
            }
          });
        const s = document.getElementById("s");
        const o = document.getElementById("o");
        const n = document.getElementById("n");
        const g = document.getElementById("g");
        const S = document.getElementById("S");
        const y = document.getElementById("y");
        const N = document.getElementById("N");
        const c = document.getElementById("c");
        function addMusicNoteAnimation(element) {
          element.addEventListener("mouseenter", function (e) {
            const notes = ["♪", "♫"];
            for (let i = 0; i < 10; i++) {
              const note = document.createElement("div");
              note.className = "music-note";

              note.innerHTML = notes[Math.floor(Math.random() * notes.length)];
              note.style.left = `${e.clientX}px`;
              note.style.top = `${e.clientY}px`;
              document.body.appendChild(note);
              setTimeout(() => note.remove(), 1000); // Adjust duration as needed
            }
          });
        }
        // Apply the animation to all relevant spans
        [s, o, n, g, S, y, N, c].forEach(addMusicNoteAnimation);
      });
      document.addEventListener("DOMContentLoaded", function () {
        // Get the modals

        var playlistCreatedModal = document.getElementById(
          "playlistCreatedModal"
        );

        // Get the buttons that open the modal
        var goToSpotifyBtn = document.getElementById("goToSpotifyBtn");
        var continueBtn = document.getElementById("continueBtn");

        // Get the <span> elements that close the modals
        var closeButtons = document.querySelectorAll(".close");

        // When the user clicks on <span> (x), close the modal
        closeButtons.forEach(function (closeButton) {
          closeButton.onclick = function () {
            playlistCreatedModal.style.display = "none";
          };
        });

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
          if (event.target == playlistCreatedModal) {
            playlistCreatedModal.style.display = "none";
          }
        };

        // When the user clicks on the "Continue" button, close the modal
        continueBtn.onclick = function () {
          playlistCreatedModal.style.display = "none";
        };
        // Show the confirmation modal when the form is submitted
      });

      function callcreate_playlist() {
        fetch("/create_playlist", {
          method: "POST",
          body: new FormData(document.getElementById("song_form")),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.playlist_url) {
              playlistUrl = data.playlist_url;
              // Show the modal or any other UI update
              document.getElementById("playlistCreatedModal").style.display =
                "block";
            } else {
              console.error("Error creating playlist: " + data.error);
            }
          })
          .catch((error) => console.error(error));
      }
      document.getElementById("goToSpotifyBtn").onclick = function () {
        if (playlistUrl) {
          window.open(playlistUrl);
        } else {
          console.error("Playlist URL is not set.");
        }
      };

      heading.addEventListener("mouseleave", function () {
        heading
          .querySelectorAll(".music-note")
          .forEach((note) => note.remove());
      });
      document
        .querySelector(".close-button")
        .addEventListener("click", function () {
          document.querySelector(".flashes").style.display = "none";
        });

      document
        .getElementById("tryAgainBtn")
        .addEventListener("click", function () {
          window.location.href = "/login";
          // Add logic here to retry the action (e.g., reload the page or show the form again)
        });
    </script>
  </body>
</html>
